# Ignore VS files
*.suo
*.db
*.bak
*.user
**/.vs/
**/MSVisualStudio/**/Release/
**/MSVisualStudio/**/ReleaseParallel/
**/MSVisualStudio/**/Debug/
autom4te.cache
*.Plo
*.a
*.la
*.lai
*.lo
*.o

# Ignore files created during unit tests
**/MSVisualStudio/**/*.mps
**/MSVisualStudio/**/*.lp
**/MSVisualStudio/**/*.out

# Apple, Xcode, Swift Package Manager (SPM) 
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

